/**
 * Functions: Grayscale Effect
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by:   HMalespine
 * @Last Modified time: 2017-04-25 14:59:34
 */


// Box Shadow

@mixin grayscale { 
	/* Firefox 10+, Firefox on Android */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");  
	 /* IE6-9 */ 
	filter: gray;
	/* Chrome 19+, Safari 6+, Safari 6+ iOS */
	-webkit-filter: grayscale(100%);
}