/*
 * @Author: Helene M. 
 * @Date: 2018-05-20 12:35:35 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2018-05-21 16:55:59
 */

@import './styles/sass/_toolbox.scss';

.select {
    float: right;
    padding: $spacing/2 $spacing/2;
    border-radius: $border-radius;
    border: 1px solid $color-muted;
    outline: none;
    transition: $transition-fast;
    background: $color-white;
    line-height: 1.2;
    &:hover {
        border-color: $color-muted-dark;
    }
    &:focus {
        border-color: $color-accent;
    }
    &:required,
    &:invalid {
        box-shadow: none !important; // To remove Firefox red border
    }
}

::placeholder {
    color: $color-muted-medium;
}

:-ms-input-placeholder {
    color: $color-muted-medium;
}

// Select
.form__select {
    width: 100%;
    cursor: pointer;
    //background: url(assets("images/dropdown-bg.png")) no-repeat calc(100% - #{$spacing}) center $color-white;
    background-size: 6px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}