/*
 * @Author: Helene M. 
 * @Date: 2018-05-20 12:35:35 
 * @Last Modified by: Helene Malespine
 * @Last Modified time: 2018-05-22 21:33:32
 */

@import './styles/sass/_toolbox.scss';
.card {
    position: relative;
    width: 100%;
    margin-top: $spacing*2;
    background: $color-white;
    border: solid 1px darken($color-muted, 2%);
    border-radius: $border-radius;
    &__figure {
        position: relative;
        height: em(250);
        overflow: hidden;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border-width: $spacing*3 0;
        border-color: $color-white;
        border-style: solid;
        .card__image {
            width: 100%;
            max-width: 100%;
            opacity: 0;
        }
        .card__link {
            display: block;
            height: 100%;
            width: 100%;
        }
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &__description {
        padding: $spacing*2 $spacing*2;
        background: lighten($color-muted, 6%);
        border-style: solid;
        border-color: $color-muted;
        border-width: 1px 0 1px 0;
    }
    &__title {
        width: 100%;
        margin-top: $spacing/2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }
    &__tagline {
        @include typi($font-size-normal-map);
        height: 2em;
    }
    &__abv {
        position: absolute;
        top: 0;
        right: 0;
        padding: $spacing/2;
        background: $color-accent2;
        color: $color-white;
        font-weight: $font-weight-medium;
    }
    &__cta {
        display: inline-block;
        width: 100%;
        padding: $spacing*2;
        text-align: right;
        .button {
            display: inline-block;
        }
    }
    @include breakpoint(min, phablet) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        float: left;
        width: calc(50% - #{($spacing*2)/2});
        margin-right: $spacing*2;
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-child(3n) {
            clear: left;
        }
        &:nth-child(-n+2) {
            margin-top: 0;
        }
    }
    @include breakpoint(min, tablet) {
        width: calc(33.33% - #{(($spacing*2)*2)/3});
        &:nth-child(2n) {
            margin-right: $spacing*2;
        }
        &:nth-child(3n) {
            clear: none;
            margin-right: 0;
        }
        &:nth-child(4n) {
            clear: left;
        }
        &:nth-child(-n+3) {
            margin-top: 0;
        }
    }
    @include breakpoint(min, laptop) {
        width: calc(25% - #{(($spacing*2)*3)/4});
        .card__inner {
            padding: $spacing*2;
        }
        &:nth-child(3n) {
            clear: none;
            margin-right: $spacing*2;
        }
        &:nth-child(4n) {
            margin-right: 0;
        }
        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 0;
        }
    }
    @include breakpoint(min, desktop) {
        width: calc(20% - #{(($spacing*2)*4)/5});
        &:nth-child(4n) {
            margin-right: $spacing*2;
        }
        &:nth-child(5n) {
            margin-right: 0;
        }
        &:nth-child(5) {
            margin-top: 0;
        }
    }
}