/*
 * @Author: Helene M. 
 * @Date: 2018-05-20 12:35:35 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2018-05-22 15:00:16
 */

@import './styles/sass/_toolbox.scss';
.footer {
    clear: both;
    margin-top: $spacing*2;
    padding: $spacing;
    background: $color-main;
    color: $color-white;
    font-size: 0.75em;
}