/*
 * @Author: Helene M. 
 * @Date: 2018-05-20 12:35:35 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2018-05-22 12:00:23
 */

@import './styles/sass/_toolbox.scss';

%button {
    display: inline-block;
    padding: $spacing;
    cursor: pointer;
    outline: none;
    border-radius: $border-radius;
    border: none;
    text-align: center; // white-space: nowrap;
    letter-spacing: $letter-spacing/2;
    font-weight: $font-weight-medium;
    @include breakpoint(min, laptop) {
        padding: $spacing $spacing;
    }
}

.button {
    @extend %button;
    @include typi($font-size-small-map);
    transition: $transition-fast;
    text-transform: uppercase;
    &--primary {
        background-color: $color-accent;
        color: $color-white;
        &:hover {
            background-color: lighten($color-accent, 5%);
            color: $color-white;
        }
    }
}