/**
 * Global: Defaults
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by: Helene M.
 * @Last Modified time: 2018-05-22 09:57:16
 */

// Reseting every element to the BETTER box-sizing
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Font smoothing set up
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

// Enforce webkit to have a transparent bg on print
input:-webkit-autofill {
    background-color: transparent !important
}


