/**
 * Utilities: Layout
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by:   helen
 * @Last Modified time: 2017-05-11 14:24:22
 */

// Clearfix

%clearfix 										{
	&:before, &:after 							{ content: ""; display: table; clear: both; }
	&:after 									{ clear:both; }
}
