/*
 * @Author: Helene M. 
 * @Date: 2018-05-21 17:10:03 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2018-05-23 09:28:30
 */

@import './styles/sass/_toolbox.scss';
.entry--product {
    @include animation(0, 0.35s, fadeIn);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clear: both;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    background: rgba($color-black, 0.8);
    .entry__inner {
        @include animation(0, 0.35s, modal);
        position: relative;
        top: 50%;
        display: inline-block;
        max-width: $inner-medium-max-width;
        margin: $spacing*2 auto;
        padding: $spacing*2;
        background: $color-white;
        border-radius: $border-radius;
    }
    .entry__header {
        padding-bottom: $spacing;
        border-bottom: 2px solid $color-body;
    }
    .entry__tagline {
        font-weight: $font-weight-regular;
        color: $color-accent;
    }
    .entry__main {
        margin-top: $spacing*2;
    }
    .entry__content {
        text-align: left;
    }
    .entry__figure {
        display: none;
    }
    .entry__details {
        &__title {
            margin-top: $spacing*3;
        }
    }
    .entry__close {
        @include typi($font-size-x-small-map);
        position: absolute;
        top: 0;
        right: 0;
        padding: $spacing;
        border-radius: 0 $border-radius 0 0;
        background: $color-accent;
        border: none;
        color: $color-white;
        font-family: $font-family-secondary;
        text-align: center;
        text-transform: uppercase;
        .icon {
            font-size: 1.2em;
            display: block;
            margin: 0 auto;
        }
        &:hover {
            background: lighten($color-accent, 5%);
        }
    }
    @include breakpoint(min, tablet) {
        .entry__inner {
            padding: $spacing*6;
        }
        .entry__figure {
            position: relative;
            display: block;
            height: 0;
            width: 50%;
            float: left;
            padding-bottom: 60%;
            overflow: hidden;
            margin: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            .entry__image {
                width: 100%;
                max-width: 100%;
                opacity: 0;
            }
        }
        .entry__content {
            width: 45%;
            float: right;
        }
    }
}