
@import './styles/sass/_toolbox.scss';


.is-loading {
    position: absolute;
    z-index: 98;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: url('./images/loading.svg') no-repeat center center $color-white; 
    opacity: 0.8;
    text-indent: -500%;
    overflow: hidden;
    background-size: auto;
}