/*
 * @Author: Helene M. 
 * @Date: 2018-05-20 12:35:35 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2018-05-22 11:58:15
 */

@import './styles/sass/_toolbox.scss';
.list--product {
    @extend %list-reset;
    clear: both;
    padding-top: $spacing/2;
    @include breakpoint(min, phablet) {
        display: flex;
        flex-wrap: wrap;
    }
}