/*
 * @Author: Helene M. 
 * @Date: 2018-05-22 10:28:12 
 * @Last Modified by: Helene Malespine
 * @Last Modified time: 2018-05-22 21:41:20
 */

@keyframes modal {
    0% {
        opacity: 0;
        transform: scale(0, 0) translate(0, -50%);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1) translate(0, -50%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}