/*
* @Title: Site - Mixins
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by: Helene M.
 * @Last Modified time: 2017-10-06 11:31:40
 */

@mixin font-face($font-url, $font-name, $font-weight) {
    @font-face {
        font-family: $font-name;
        src: url($font-url + '/' + $font-name + '.eot') format('eot'), url($font-url + '/' + $font-name + '.eot'), url($font-url + '/' + $font-name + '.eot?#iefix') format('embedded-opentype'), url($font-url + '/' + $font-name + '.woff') format('woff'), url($font-url + '/' + $font-name + '.woff2') format('woff2'), url($font-url + '/' + $font-name + '.ttf') format('truetype'), url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
        font-weight: $font-weight;
    }
}

@mixin gradient-horizontal($left, $right) {
    background: linear-gradient(to right, $left 0%, $right 100%);
}

@mixin gradient-vertical($top, $bottom) {
    background: linear-gradient(to bottom, $top 0%, $bottom 100%);
}

@mixin plain-arrow($color, $direction, $size: 15px) {
    @if $direction !=null {
        display: inline-block;
        content: '';
        border-width: $size;
        border-style: solid;
        @if $direction=="top" {
            border-color: transparent transparent $color transparent;
        }
        @if $direction=="right" {
            border-color: transparent transparent transparent $color;
        }
        @if $direction=="bottom" {
            border-color: $color transparent transparent transparent;
        }
        @if $direction=="left" {
            border-color: transparent $color transparent transparent;
        }
    }
    @else {
        @warn "Please set up a direction, eg. top, right, bottom or left. ";
    }
}

@mixin corner-borders($color: $color-muted-medium, $side: "top-left", $distance: $spacing*3, $size: 200px) {
    position: relative;
    &::before,
    &::after {
        position: absolute;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        background: $color;
        height: 1px;
        width: $size;
    }
    &::after {
        content: "";
        display: block;
        background: $color;
        height: $size;
        width: 1px;
    }
    @if $side != null {
        @if $side=="top-left" {
            padding-top: $distance;
            padding-left: $distance;
            &::before,
            &::after {
                top: 0;
                left: 0;
            }
        }
        @if $side=="top-right" {
            padding-top: $distance;
            padding-right: $distance;
            &::before,
            &::after {
                top: 0;
                right: 0;
            }
        }
        @if $side=="bottom-left" {
            padding-bottom: $distance;
            padding-left: $distance;
            &::before,
            &::after {
                bottom: 0;
                left: 0;
            }
        }
        @if $side=="bottom-right" {
            padding-right: $distance;
            padding-bottom: $distance;
            &::before,
            &::after {
                bottom: 0;
                right: 0;
            }
        }
    }
    @else {
        @warn "Please set up a side, eg. top-left, top-right, bottom-left or bottom-right. ";
    }
}