
//@import './styles/sass/_toolbox.scss';

body {
    font-family: $font-family-body;
}

/* Headings
-------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    font-family: $font-family-secondary;
    font-weight: $font-weight-regular;
}

h1, .h1 {
    margin: 0;
    padding: 0;
    font-family: $font-family-h1;
    @include typi($font-size-h1-map);
    font-weight: $font-weight-regular;
}

h2, .h2 {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: $font-family-h2;
    @include typi($font-size-h2-map);
    font-weight: $font-weight-regular;
}

h3, .h3 {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: $font-family-h3;
    @include typi($font-size-h3-map);
    font-weight: $font-weight-regular;
}

h4, .h4 {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: $font-family-h4;
    @include typi($font-size-h4-map);
    font-weight: $font-weight-regular;
}

h5, .h5 {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: $font-family-h5;
    @include typi($font-size-h5-map);
    font-weight: $font-weight-regular;
}

.small-copy {
    @include typi($font-size-x-small-map);
}