/*
 * @Author: Helene M. 
 * @Date: 2018-05-20 12:36:38 
 * @Last Modified by: Helene Malespine
 * @Last Modified time: 2018-05-22 20:28:25
 */

//== PATHS
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$image-directory: 'images/'; // Example: background-image: url(#{$image-directory}image.png);
//== COLOURS
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//-- COLOUR PALETTE
$color-white: #ffffff;
$color-black: #0D1E28;
$color-grey-light: #E1E1E1;
$color-grey-medium: #526d7e;
/*#E9E8E8*/

$color-grey-dark: #2e3940;
$color-dark-blue: #0D1E29;
$color-blue: #10AED5;
$color-teal: #278e97;
$color-coral: #D86351;
/*#FF6F60*/

/*#387ACC*/

//-- MAIN, ACCENT AND MUTED
//== COLOURS
$color-body: $color-grey-dark;
$color-main: $color-dark-blue;
$color-accent: $color-blue;
$color-accent2: $color-teal;
$color-muted: $color-grey-light;
$color-muted-medium: $color-grey-medium;
$color-muted-dark: $color-grey-dark;
$color-link-hover: $color-grey-medium;
//-- BODY AND LINKS
$color-body: $color-black;
$color-link: $color-main;
$color-link-hover: darken($color-link, 20%);
//-- NOTIFICATIONS AND BADGES
$color-danger: #CD3A53;
$color-warning: #FFD51D;
$color-success: #92D06C;
//-- HOVER EFFECT => APPLY DARKEN 10%
// hyperlinks
// text
$text-muted-color: #999999;
// text selection
$text-selection-background: #328efe !default;
$text-selection-color: #ffffff !default;
// placeholders
$placeholder-color: #999999;
//== TYPOGRAPHY
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//--  FAMILIES
$font-family-primary: "Open Sans",
sans-serif;
$font-family-secondary: "Oswald",
sans-serif;
$font-family-tertiary: "Oswald",
sans-serif;
$font-family-icons: "FontAwesome";
$font-family-body: $font-family-primary;
$font-family-h1: $font-family-secondary;
$font-family-h2: $font-family-secondary;
$font-family-h3: $font-family-secondary;
$font-family-h4: $font-family-secondary;
$font-family-h5: $font-family-secondary;
$letter-spacing: 0.75px;
//--  TYPI, SCALE AND SIZES
$typi: (null: 14px, tablet: 14px, laptop: 14px, desktop: 14px);
$font-size-x-small-map: (null: (10px, 1.33), phablet: (11px, 1.33), tablet: (11px, 1.33), laptop: (12px, 1.5), desktop: (12px, 1.5));
$font-size-small-map: (null: (12px, 1.33), phablet: (12px, 1.33), tablet: (12px, 1.33), laptop: (12px, 1.5), desktop: (12px, 1.5));
$font-size-normal-map: (null: (14px, 1.33), phablet: (14px, 1.33), tablet: (14px, 1.33), laptop: (14px, 1.5), desktop: (14px, 1.5));
$font-size-medium-map: (null: (14px, 1.33), phablet: (14px, 1.33), tablet: (14px, 1.33), laptop: (16px, 1.5), desktop: (16px, 1.5));
$font-size-large-map: (null: (16px, 1.33), phablet: (18px, 1.33), tablet: (18px, 1.33), laptop: (18px, 1.5), desktop: (18px, 1.2));
$font-size-x-large-map: (null: (18px, 1.20), phablet: (20px, 1.20), tablet: (22px, 1.33), laptop: (22px, 1.2), desktop: (24px, 1.2));
$font-size-xx-large-map: (null: (18px, 1.20), phablet: (20px, 1.20), tablet: (22px, 1.20), laptop: (24px, 1.2), desktop: (28px, 1.2));
$font-size-xxx-large-map: (null: (22px, 1.20), phablet: (24px, 1.20), tablet: (28px, 1.33), laptop: (30px, 1.2), desktop: (32px, 1.33));
$font-size-body-map: $font-size-normal-map;
$font-size-h1-map: $font-size-xxx-large-map;
$font-size-h2-map: $font-size-xx-large-map;
$font-size-h3-map: $font-size-x-large-map;
$font-size-h4-map: $font-size-large-map;
$font-size-h5-map: $font-size-normal-map;
//-- WEIGHTS
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-heavy: 900;
//== LAYOUT
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$inner-default-max-width: 1160px;
$inner-x-small-max-width: 560px;
$inner-small-max-width: 600px;
$inner-medium-max-width: 1015px;
$inner-large-max-width: 1280px;
$inner-x-large-max-width: 1420px;
$header-height: 75px;
$breakpoints: (mobile-landscape: 480px, phablet: 600px, tablet: 768px, laptop: 1024px, desktop: 1280px, desktop-large: 1440px, desktop-x-large: 1600px);
$spacing: 10px/(map-get($typi, laptop))*1rem;
//== DECORATION
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$border-radius: 3px;
$box-shadow: 0 0px 10px rgba($color-black, 0.15);
//== TRANSITIONS
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
$transition-default: .5s ease-in;
$transition-fast: .25s ease-in;