/*
 * @Author: Helene Malespine 
 * @Date: 2018-05-20 21:45:19 
 * @Last Modified by: Helene Malespine
 * @Last Modified time: 2018-05-22 21:42:43
 */

@import './styles/sass/_toolbox.scss';
// Global Reset
html {
    @include typi-base();
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: $font-family-body;
    line-height: 1.5;
    color: $color-body;
}

//== OBJECTS
embed,
object,
iframe {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto !important;
}

//== TYPOGRAPHY
a {
    color: $color-link;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: $color-link-hover;
    transition: $transition-default;
}

p {
    margin: 0 0 1em 0;
    &:last-child {
        margin-bottom: 0;
    }
}

ul {
    list-style: square;
}

.h1 {
    margin: 0 0 1em 0;
    padding: 0;
    font-family: $font-family-h1;
    @include typi($font-size-h1-map);
    font-weight: $font-weight-medium;
    line-height: 1.3em;
}

.h2 {
    margin: 0 0 1em 0;
    padding: 0;
    font-family: $font-family-h2;
    @include typi($font-size-h2-map);
    font-weight: $font-weight-medium;
}

.h3 {
    margin: 0 0 1em 0;
    padding: 0;
    font-family: $font-family-h3;
    @include typi($font-size-h2-map);
    font-weight: $font-weight-medium;
}

.h4 {
    margin: 0 0 1em 0;
    padding: 0;
    font-family: $font-family-h4;
    @include typi($font-size-h4-map);
    font-weight: $font-weight-medium;
}

.h5 {
    margin: 0 0 1em 0;
    padding: 0;
    font-family: $font-family-h5;
    @include typi($font-size-h5-map);
    font-weight: $font-weight-medium;
}

// Page
.page {
    background: $color-muted;
    .content {
        position: relative;
        max-width: $inner-x-large-max-width;
        min-height: 90vh;
        margin: 0 auto;
        padding: $spacing $spacing*2;
    }
}