/*
 * @Author: Helene M. 
 * @Date: 2018-05-20 12:35:35 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2018-05-22 15:02:33
 */

@import './styles/sass/_toolbox.scss';
.header {
    padding: $spacing;
    background: $color-muted-medium;
    color: $color-white;
    .header__title {
        margin: 0;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
    }
}