/*
 * @Author: Helene M. 
 * @Date: 2018-05-22 09:57:59 
 * @Last Modified by:   Helene M. 
 * @Last Modified time: 2018-05-22 09:57:59 
 */

//== SPACING
//-- SPACING RESET
//-- Resets the margin and padding
%spacing-reset {
    margin: 0;
    padding: 0;
}

//== LISTS
//-- LIST RESET
//-- Resets the list style and default margin and padding
%list-reset {
    margin: 0;
    padding: 0;
    background: transparent;
    list-style: none;
}